<div class="sidebar-container">
  <div class="top-section">
    <div class="logo-container">
      <img src="/assets/images/logo2.png" width="300" height="200" alt="Logo" class="logo" />
    </div>
  </div>
  
  <div class="navbar">
    <p-panelMenu [model]="items" styleClass="custom-sidebar-menu"></p-panelMenu>
  </div>
  
  <div class="sidebar-footer">
    <img [src]="profileImageUrl" alt="Profile" class="profile-image" (click)="openImageModal()" />
    <button (click)="logout()" class="logout-button">
      <i class="pi pi-sign-out"></i> Logout
    </button>
  </div>
</div>

<p-dialog 
  [(visible)]="showImageModal"
  [modal]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [closable]="true"
  >
  <div class="modal-content">
    <img [src]="profileImageUrl" alt="Profile" class="enlarged-image">
  </div>

</p-dialog>