<div class="header">
  <div class="left-section">
    <span class="title">{{ currentSection }}</span>
  </div>

  <div class="right-section">
    <button class="income-button" (click)="addIncome()">
      <span class="plus-icon">+</span>
      <span>Kirim</span>
      <span class="shortcut">F1</span>
    </button>
    <button class="expense-button" (click)="addExpense()">
      <span class="minus-icon">−</span>
      <span>Chiqim</span>
      <span class="shortcut">F2</span>
    </button>
  </div>
</div>


