<div
  class="header flex items-center justify-between px-4 py-3 bg-white rounded-tr-lg border-l border-gray-300"
>
  <div class="text-2xl font-medium">{{ currentSection }}</div>

  <div class="right-section">
    <button class="income-button" (click)="addIncome()">
      <span class="plus-icon">+</span>
      <span>Kirim</span>
      <span class="shortcut">F1</span>
    </button>
    <button class="expense-button" (click)="addExpense()">
      <span class="minus-icon">−</span>
      <span>Chiqim</span>
      <span class="shortcut">F2</span>
    </button>
  </div>
</div>
