<div class="login-container">
  <img src="assets\images\logo2.png" alt="Logo" class="logo">
  <p-card header="Tizimga kirish" class="login-card">
    <form (ngSubmit)="login()">
      <div class="p-field">
        <label for="email">Email</label>
        <input pInputText id="email" [(ngModel)]="email" name="email" type="email" required>
      </div>
      <div class="p-field">
        <label for="password">Parol</label>
        <input pInputText id="password" [(ngModel)]="password" name="password" type="password" required>
      </div>
      <p-button label="Login" icon="pi pi-sign-in" type="submit"></p-button>
    </form>
  </p-card>
  <p>
    <a routerLink="/forgot-password">Forgot password?</a>
    <a routerLink="/sign-up">Sign up</a>
  </p>
</div>