<div class="dashboard-container">
  <!-- Sidebars -->
  <aside class="left-sidebar">
    <div class="brand">Finance<br>Tracker.</div>

    <nav class="nav-links">
      <a routerLink="/dashboard" routerLinkActive="active">
        <span class="icon">🏠</span> 
      </a>
      <a routerLink="/dashboard/accounts" routerLinkActive="active">
        <span class="icon">🏦</span> 
      </a>
      <a routerLink="/dashboard/budgets" routerLinkActive="active">
        <span class="icon">💰</span> 
      </a>
      <a routerLink="/dashboard/settings" routerLinkActive="active">
        <span class="icon">⚙️</span> 
      </a>
    </nav>

    <div class="sidebar-bottom">
      <img src="assets/profile.jpg" alt="Profil rasmi" class="profile-img" />
      <div class="dark-mode-toggle">
        <button onclick="toggleDarkMode()" class="light">
          🌙
        </button>
        <button onclick="toggleDarkMode()" class="dark">
          🌞
        </button>
      </div>
      
    </div>
  </aside>

  <!-- Main Content Area -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
