<div class="reset-password-container">
  <h2>Yangi parolni o‘rnatish</h2>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <label>Email:</label>
    <input type="email" formControlName="email" />

    <label>Yuborilgan kod:</label>
    <input type="text" formControlName="otpCode" />

    <label>Yangi parol:</label>
    <input type="password" formControlName="newPassword" />

    <label>Yangi parol (takror):</label>
    <input type="password" formControlName="confirmPassword" />

    <button type="submit" [disabled]="resetForm.invalid">Parolni yangilash</button>
  </form>
</div>
