.layout-wrapper {
  display: flex;
  height: 100vh;
  padding: 20px 20px 0 20px;
  background-color: #1f2937;
}

.main-content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0.5rem 0 0;
}

.page-body {
  flex: 1;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #e9f1f5;
}

/* ng-template {
  display: block;
  background-color: blue;
  border: 2px solid red;
} */
